@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}


body {
  background-color: #000000;
  width: 100%;
  height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
  overflow-x: hidden; /* Previene que haya scroll horizontal */
  padding: 0;
}


#main-header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 2.5em;
}


#main-nav {
  text-align: center;
  margin: 10px 0;
}

#main-nav a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

#main-nav a:hover {
  color: #ff357a;
}


#vision-section,
#mision-section {
  padding: 20px;
  margin: 20px auto;
  width: 80%; 
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 15px;
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

#vision-section:hover,
#mision-section:hover {
  transform: scale(1.05);
}

/* Footer */
#main-footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
  position: fixed; 
  bottom: 0;
  width: 100%;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}