/* Estilo general */
body {
  background-color: #000000;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* Encabezado */
#main-header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Navegación */
#main-nav {
  text-align: center;
  margin: 10px 0;
}

#main-nav a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

#main-nav a:hover {
  color: #ff357a;
}

/* Contenedor de las secciones */
.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Secciones flexibles para alinear imagen y texto */
.flex-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

.flex-section:hover {
  transform: scale(1.05);
}

/* Contenedor redondeado para la imagen */
.image-container {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo transparente */
  border-radius: 50%; /* Hace el cuadro redondeado */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* Espacio entre imagen y texto */
}

/* Imágenes dentro del contenedor redondeado */
.section-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover; /* Ajusta la imagen al contenedor sin distorsión */
}

/* Contenedor de texto */
.text-container {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

/* Footer */
#main-footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
